body {
    margin: 0;
}

.hidden {
    display: none !important;

}

.win-message h1 {
    color: white;
    font-size: 42px;

}

.win-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}